* {
    margin: 0;
    padding: 0;
}

.mainBlock {
    margin: 250px auto 0;
    background-color: black;
    width: 300px;
    height: 320px;
    border-left: 10px solid #606364;
    border-right: 10px solid #606364;
    border-radius: 10px;
}

.logo {
    text-transform: uppercase;
    font-family: 'Krona One', sans-serif;
    color: coral;
    text-align: center;
    padding-top: 20px;
}
.output {
    background-color: rgb(133, 125, 125);
    margin: 30px 5px 0;
    font-size: 30px;
    display: flex;
    flex-direction: row-reverse;
    border-left: 10px solid #cacdce;
    border-right: 10px solid #cacdce;
    border-top: 10px solid #cacdce;
    border-bottom: 10px solid #cacdce;
    border-radius: 5px;
    height: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 280px;
    justify-content: space-between;
    margin: 20px auto 0;
}
.button {
    background-color: slategray;
    width: 45px;
    height: 30px;
    border-bottom: 3px solid #cacdce;
    border-radius: 3px;
    margin: 4px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-top: none;
    border-left: none;
}
.button:active{
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset; 
    transform: translatey(1px); 
}

.clear {
    background-color: rgb(224, 74, 28);
    border-bottom: 3px solid #e6724f;
    
}
.math {
    background-color: rgb(65, 62, 61);
    border-bottom: 3px solid #ada3a0;
}
